In [2]:
import pandas as pd

In [3]:
new_df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

In [7]:
new_df

   A  B
0  1  3
1  2  4

In [16]:
map

{'A': 0, 'B': 1}

In [17]:
for a, b in map.items():
    print(a, b)

A 0
B 1

In [19]:
for _, row in new_df.iterrows():
    print(row.iloc[1])

3
4